Package: icade-joystick-rpi-dkms
Version: $MKVERSION
Architecture: all
Maintainer: Martin Blom <martin@blom.org>
Installed-Size: 74
Depends: dkms (>= 1.95)
Section: misc
Priority: optional
Description: icade_joystick_rpi driver in DKMS format.

